src/test/resources/colossal_pmml/m20181110.pmml
**/output/
**/target/
**/models/
**/models_deprecated/
**/.ipynb_checkpoints/
**/jupyter/
**/data/
**/PMML/
# Intellij
.idea/
*.iml
.scannerwork/
**/venv
*.ipynb
*.DS_Store
*.pyc
*.bak
*.lst
*.csv
*.png
*.info
*.mdl
*.err
.*.swp
*/__pycache__/
*.log
**/.cache/
*.gz
**/env/
**/trainset/
sftp-config.json
**/test-reports/
*.egg-info/
*.pickle
*.pkl
**/.coverage
**/.eggs/
**/.pytest_cache/
.vscode/
**/logs/
**/notebooks/
**/Data/
**/benchmark/
**/build/
**/coverage.xml
**/dist/
**/hash_store*/
**/intelligencefiles/
**/tmp/
.classpath
.project
.settings/
*.lock
pip_versions.txt
