click
colorlog
imageai
keras
matplotlib
opencv-python
pillow
tensorflow
parameterized
torch
torchvision
requests
pytest
coverage
bandit
safety
dlib
easyocr
gradio
jupyterlab
pandas
imutils
opencv-contrib-python
scikit-image
pytesseract
setuptools
numpy