click
colorlog
imageai
keras==2.3.1
matplotlib
opencv-python
pillow
tensorflow==1.15.2
parameterized
torch==1.6.0
torchvision==0.7.0
requests
pytest
coverage
bandit
safety
dlib
easyocr
gradio
jupyterlab
pandas
